<div class="containerToFit">
    <div class="d-flex flex-nowrap mainBox col-sm-6">
        <div class="order-1 p-0 col-sm-4 col-4 leftBox">
            <div class="photo" id="multiimage">
                <img src="../../assets/prasad2.png"
                    alt="Responsive image" class="img-fluid">
            </div>
            <div class="Designation">
                <h6 class="roleName">Frontend Developer</h6>
            </div>
            <div class="education">
                <p class="Intro1">Education</p>
                <p class="edColor borderBottom"></p>
                <p class="edColor hig btech">B.Tech - IT</p>
                <p class="edColor gig btechInfo">I have completed my graduation with 70%</p>
                <p class="edColor hig Inter">Inter - M.P.C</p>
                <p class="edColor gig interInfo">I have completed my Intermediate with 67%</p>
            </div>
            <div class="expertise">
                <p class="Intro1">Expertise</p>
                <p class="edColor borderBottom"></p>
                <p class="gig tech">Angular</p>
                <div class="Bar">
                    <div class="angularBorder">
                        <p class="angularColor"></p>
                    </div>
                </div>
                <p class="gig tech">Typescript</p>
                <div class="Bar">
                    <div class="angularBorder">
                        <p class="typeColor"></p>
                    </div>
                </div>
                <p class="gig tech">Javascript</p>
                <div class="Bar">
                    <div class="angularBorder">
                        <p class="javaColor"></p>
                    </div>
                </div>
                <p class="gig tech">HTML5</p>
                <div class="Bar">
                    <div class="angularBorder">
                        <p class="htmlColor"></p>
                    </div>
                </div>
                <p class="gig tech">CSS/SCSS</p>
                <div class="Bar">
                    <div class="angularBorder">
                        <p class="cssColor"></p>
                    </div>
                </div>
            </div>
            <div class="row col-12 col-sm-12 contactInfo">
                <div class="col-sm-2 col-3 iconsBack">
                    <span class="material-symbols-outlined icons">
                        call
                    </span>
                    <span class="material-symbols-outlined icons">
                        mail
                    </span>
                    <span class="material-symbols-outlined icons">
                        pin_drop
                    </span>
                </div>
                <div class="row col-sm-9 col-9 ">
                    <span class="iconInfo">
                        +91 8919142555
                    </span>
                    <span class="iconInfo">
                        kaliprasad996@gmail.com
                    </span>
                    <span class="iconInfo">
                        Hyderabad,Kondapur
                    </span>
                </div>
            </div>
        </div>
        <div class="order-2 p-0 col-sm-8 col-8">
            <div class="textBox">
                <div class="userName"><span class="highlet">Kaliprasad</span>
                    <span class="subTitle"> Gonapa</span>
                </div>
                <div class="Designation moreTo">
                    <h6 class="roleName">Frontend Developer</h6>
                </div>
                <div class="userInfo">
                    <p class="Intro">PROFILE</p>
                    <div class="infoDiv">
                        <span class="info">I'm an Angular Frontend Developer where I can
                            develop Angular applications with Typescript
                            which is Superset version of Javascript and for styling I'm using Scss
                            which is advanced version of CSS
                        </span>
                    </div>
                </div>
                <div class="userExperience ">
                    <p class="Intro">WORK EXPERIENCE</p>
                    <p class="companyName1">Tata Consultacy Services/Hyderabad</p>
                    <div class="infoDiv">
                        <span class="info"><span class="show">Present </span>I have 
                        joined TCS at 2021 for Frontend development</span>
                    </div>
                </div>
                <div class="Projects ">
                    <p class="Intro">PROJECTS WORKED ON</p>
                    <p class="projectName">Shree Mata Vaishno Devi Shrine Board</p>
                    <div class="infoDiv">
                        <span class="info">
                            <b>SMVDSB</b> is a Temple, which is located in Jammu & Kashmir, for
                            that temple we have managed to create a frontend page which is
                            used to make donations for the temple and also maintaining the transaction
                            history when ever the user wanted to download, the users can also donate anonomouly.
                            <p class="techUse">Technologies Used: <span class="techs"> Angular</span>,
                                <span class="techs"> Typescript</span> &
                                <span class="techs"> SCSS</span>
                            </p> 
                        </span>
                    </div>
                    <p class="projectName">SMVDSB - Admin Reports</p>
                    <div class="infoDiv">
                        <span class="info">
                            <b>SMVDSB</b> is a Temple, previously we had done the Webapplication for donations,
                            here we have created which is where the admin can download the reports from a certain period of from date to to-date
                            to view the details about the particular services, the services which is presently active in temple
                            <p class="techUse">Technologies Used: <span class="techs"> Angular</span>,
                                <span class="techs"> Typescript</span> &
                                <span class="techs"> SCSS</span>
                            </p> 
                        </span>
                    </div>
                    <p class="personalIntresets">Personal Intrests</p>
                    <span class="infoDiv">
                        <span class="techs">Mobile Games</span>,
                        <span class="techs">Browsing</span>,
                        <span class="techs">coding</span>,
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>